<!--
  MAKE FORM TO SIGN UP FOR SITE
  ALL FIELDS TO CREATE A USER OBJECT IN DATABASE
  AS WELL AS A CONFIRM PASSWORD FIELD
  MAKE SURE FORM ACION USES /USERS/SIGNUP

  for name tags in inputs =  make same as the name of the attributes of object 

-->



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/login.css">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <title>sign in</title>
</head>
<body>
  <%- include ('../partials/header')%>   
  <div id="loginContainer">
    <h1 id="title">please enter your login details</h1>
  <h1 class="smallTitle">username</h1>
  <input type="text">
  <h1 class="smallTitle">password</h1>
  <input type="password"><br>
  <button>login</button>
  <h4 id="clickToSignUp"><a href="/users/signup">if you don't have an account click here to sign up</a></h4>
 </div>
  <%- include ('../partials/footer')%>  
</body>
</html>