<!-- footer.ejs | zack bowker | 301199878 | june 3-->
<footer id="footer">
  <h4>&copy;&nbsp;&nbsp;zack bowker - centennial college - summer 2022</h4>
</footer>
<script>
  var getTitle = "<%= title %>";
</script>
<script src="/javascripts/app.js"></script>