<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>catch the cat</title>
  <link rel="stylesheet" href="/stylesheets/a5.css">  
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>        
  <div id="container">
    <div id="infoDiv">
      <h1>Welcome to the catch a cat game!</h1>    
      <p>Try to click on the little meow before it gets away!</p>
      <h3>Little Meows Caught: <span id="counter"> </span></h3>
      <button onclick="resetScore()">
        Reset Score
      </button>
      <button onclick="resetSpeed()">
        Reset Speed
      </button>
    </div>    
    <div id="game">
      
    </div> 
    <footer>
      <h4>Copyright &copy; - Zack Bowker - Centennial College - Winter 2022</h4>
    </footer>
  </div>   
  <script src="/javascripts/a5.js"></script>  
</body>
</html>