<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>about</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/aboutstyle.css">  
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
  <%- include ('partials/header')%>  
  <div id="aboutContainer">    
    <div id="textContainer">
      <blockquote>
        <h2>about me</h2>
        my name is zack bowker, and I am a software engineering student at centennial college.
        I am in my third semester and am hoping to graduate this decemeber. 
        I enjoy web design, programming and database related work. the programming languages I have been working with are c#, javascript, and java. I hope one day to be able to be a full-stack developer, and potentially open my own business/freelance and work for myself. in my personal life, I enjoy video games, cooking, reading, and hanging out wiht my cats. I have two little meows, one named naya and another named jam. naya is sweet and polite, where jam is erratic and crazy. that about sums it up for me, I hope you enjoy my portfolio site!        
      </blockquote>  
      <div id="buttonDiv">
        <button id="resume"><a href="../images/ZackBowker-Resume.pdf" target="_blank">my resume</a></button>
      </div>    
    </div>
    <div id="imgContainer">
      <img src="../images/IMG_6018.jpg" alt="">
    </div>  
  </div>    
  <%- include ('partials/footer')%>
</body>
</html>