<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <title>home</title>
</head>
<body class="homeBody">
  <%- include ('partials/header')%>  
  <div id="mainContainer">
    <div id="imgContainer">
      <img src="../images/IMG_6015.jpg" alt="">
      <div id="quote">                
        <blockquote>          
         <h1>welcome to my portfolio!</h1>  
          <h2>mission statement</h2>
          zik web design strives to bring you the best web design, graphic design, or marketing at a reasonable price. my goal is to offer industry leading website design at an affordable price, and I will be available for my clients at any time throughout the process. after discussing your needs I will provide you with a customized quote depending on your company's strategy. I understand budget constraints and will work with your company to deliver a final project that meets your budget while not sacrificing the integrity or quality of the site.                
        </blockquote>        
        <div id="buttonDiv">
          <button id="aboutMe"><a href="/about">about me</a></button>
        </div>
      </div>
    </div>    
  </div>
  <%- include ('partials/footer')%>
</body>
</html>





