<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>projects</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/projectstyle.css">  
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
  <%- include ('partials/header')%>  
  <div id="mainContainer">
    <h1>some projects I have designed & created over the past year</h1>
    <div id="projectsDiv" class="projects">
      <div id="project1" class="projectsDiv">
        <h2>bmr calculator</h2>
        <img src="/images/project1.PNG" alt="screenshot of bmr calculator">        
        <h4><a href="./a1" target="_blank">view project</a></h4>         
      </div>
      <div id="project2" class="projectsDiv">
        <h2>catch the cat game</h2>
        <img src="/images/project2.PNG" alt="screenshot of cat game">        
        <h4><a href="./a5" target="_blank">view project</a></h4>
      </div>
      <div id="project3" class="projectsDiv">
        <h2>membership form</h2>
        <img src="/images/project3.PNG" alt="screenshot of membership form">
        <h4><a href="./a4" target="_blank">view project</a></h4>
      </div>
      <div id="project4" class="projectsDiv">
        <h2>picture slideshow</h2>
        <img src="/images/project4.PNG" alt="screenshot of picture slideshow">
        <h4><a href="./a6" target="_blank">view project</a></h4>
      </div>
    </div>    
  </div>
  <%- include ('partials/footer')%>
</body>
</html>