<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/bcontactsstyle.css">
  <title>business contacts</title>
</head>
<body>
  <%- include ('../partials/header')%>  
  <div id="bcontainer">
    <table class="contactsTable">
      <!--LOOK AT PROFESSOR EXAMPLE ON HOW TO LOOP THESE-->
      <tr>
        <td>

        </td>
        <td>
          
        </td>
        <td>
          
        </td>
        <td>
          <button>remove</button>
          <button>edit</button>
        </td>
      </tr>
    </table>
  </div>
  <%- include ('../partials/footer')%>  
</body>
</html>