#updateForm {
  display: block;
  margin: auto;
  margin-top: 35px;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
  padding: 25px;
  width: 450px;
}

input {
  margin-bottom: 40px;
  width: 300px;  
  height: 35px;
  text-align: center;
  font-family: 'Roboto Flex';  
  font-size: 25px;
}

label {
  font-size: 30px;
  padding-bottom: 10px;
}

button {
  width:310px;
  height: 35px;  
}

button:hover {
  cursor: pointer;
  transition: .5s ease-in-out;
}